<body class=log>
<h1> </h1>

<table class= find >

<tr>

<td><div><%= link_to "Admin", "/admin_sessions/new", class: "btn-admin" %></div> </td> 

<td><div><%= link_to "User", "/emp_sessions/new" , class: "btn-user" %></div></td>

</tr>

</table>


</body>